<div class="container">
	<div class="footerLeft">
		<h1 class="footerLogo">URLAUBSGLÜCK</h1>
		<div class="company">
			<div class="company__title">Company</div>
			<ul class="company__list">
				<li class="company__item"><a href="#" class="company__link">About</a></li>
				<li class="company__item"><a href="#" class="company__link">Contacts</a></li>
				<li class="company__item"><a href="#" class="company__link">Press</a></li>
				<li class="company__item"><a href="#" class="company__link">Blog</a></li>
			</ul>
		</div>
		<div class="partnerList">
			<div class="partnerList__title">Partners</div>
		</div>
	</div>
	<div class="footerRight">
		<div class="designed">DESIGNED BY</div>
		<div class="areto">areto</div>
	</div>
</div>
