<div class="container">
	<div class="top">
		<div class="auth">
			<div class="auth__login"><a href="#" class="auth__link">Log in</a></div>
			<div class="auth__signup"><a href="#" class="auth__link">Sign up</a></div>
		</div>
		<div class="logo">URLAUBSGLÜCK</div>
		<div class="share">
			<div class="share__topLine">SHARE YOUR HOLIDAY DREAMS</div>
			<div class="share__lowLine">And find the perfect partner to fullfill it</div>
			<div class="share__find"><a href="#" class="share__find_Link">Find your holiday partner</a></div>
		</div>

	</div>		
</div>