<div class="container">
	<div class="services__title"><h1>Our Services</h1></div>
	<div class="services">
		<div class="service">
			<a href="#" class="service__link">
				<figure>
				    <img src="img/service1.jpg" alt="service__image" class="service__img">
				    <figcaption class="service__caption">Schdule Services</figcaption>
				</figure>
			</a>
		</div>
		<div class="service">
			<a href="#" class="service__link">
				<figure>
				    <img src="img/service2.jpg" alt="service__image" class="service__img">
				    <figcaption class="service__caption">Preventive Maintence</figcaption>
				</figure>
			</a>
		</div>
		<div class="service">
			<a href="#" class="service__link">
				<figure>
				    <img src="img/service3.jpg" alt="service__image" class="service__img">
				    <figcaption class="service__caption">Tire &amp; Wheel Services</figcaption>
				</figure>
			</a>
		</div>
		<div class="service">
			<a href="#" class="service__link">
				<figure>
				    <img src="img/service4.jpg" alt="service__image" class="service__img">
				    <figcaption class="service__caption">Repair Services</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>