$authWidth: 153px;
$bordRadius: 20px;

//fonts
$MontsB-52: 52px 'Montserrat Bold';
$MontsB-30: 30px 'Montserrat Bold';
$MontsB-24: 24px 'Montserrat Bold';
$MontsB-22: 22px 'Montserrat Bold';
$MontsB-20: 20px 'Montserrat Bold';
$MontsB-16: 16px 'Montserrat Bold';
$MontsB-14: 14px 'Montserrat Bold';
$MontsB-10: 10px 'Montserrat Bold';

$MontsR-10: 10px 'Montserrat Regular';


$RoboL-24: 24px 'Roboto Light';
$RoboL-18: 18px 'Roboto Light';
$RoboL-14: 14px 'Roboto Light';


//textcolors
$whiteText: #fff;
$darkText: #333333;
$grayText: #cccccc;
$redText: #ff4e50;
$darkgrayText: #666666;
$inpText: #999999;


//border
$white-border: 2px solid #fff;
$red-border: 2px solid #ff4e50;
$gray-border: 1px solid #cccccc;
$footer-border: 4px solid #ff4e50;

//background-color
$findBg: #ff4e50;
$white-bg: #fff;
$yellow-bg: #ffa507;
$green-bg: #1cd7ad;
$indigo-bg: #4e73db;


