$icons: (
	  svg-sprite: (width: 120px, height: 86px, pngPath: '../img/svgsprite.png', svgPath: '../img/svgsprite.svg'),
 	areto: (width: 110px, height: 24px, backgroundX: 0px, backgroundY: 0px),
 	colba: (width: 11.66px, height: 15.969999999999999px, backgroundX: -26px, backgroundY: -59.6px),
 	cup: (width: 16px, height: 15.600000000000001px, backgroundX: 0px, backgroundY: -34px),
 	plain: (width: 15.969999999999999px, height: 15px, backgroundX: -26px, backgroundY: -34px),
 	tv: (width: 16px, height: 15.969999999999999px, backgroundX: 0px, backgroundY: -59.6px),
);
